.search-btn{
    padding:20px 15px;
}
.order-status-cell{
  width:180px;
}
.order-status{
  padding: 0 12px;
}
.order-status,
.order-status-update,
.payment-status,
.payment-status-update{
  width:112px;
  line-height: 38px;
}
.order-status-update,
.order-submit-btn,
.payment-status-update,
.payment-submit-btn{
  display: none;
}
tr.edit-mode .order-status-cell .order-status-update,
tr.edit-mode .order-status-cell .order-submit-btn,
tr.edit-mode .payment-status-cell .payment-status-update,
tr.edit-mode .payment-status-cell .payment-submit-btn,
tr.edit-mode .order-actions .order-submit-btn{
  display: block;
}
tr.edit-mode .order-status-cell .order-status,
tr.edit-mode .order-status-cell .order-update-btn,
tr.edit-mode .payment-status-cell .payment-status,
tr.edit-mode .payment-status-cell .payment-update-btn,
tr.edit-mode .order-actions .order-update-btn{
  display: none;
}
.text-scroll{
    width: 190px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.search-filters input[type='radio']{
    height:24px;
}
button[data-toggle="collapse"]{
    position:absolute;
    top:5px;
    right:0;
}
.card{
    margin-top:10px;
    margin-bottom:10px;
}

