# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
*/__pycache__/*
*.pyo
*.pyc
*.wpr
c3swebcom/settings.py
c3swebcom/wsgi.py
c3swebcom/conf_vars.py
static/scripts/config.js
