{% extends "common/default.html" %}
{% block content %}
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> Dashboard</b></h5>
    </header>
    <div class="w3-container">
        <div class="quick-links w3-panel w3-light-gray w3-card">
                Quick links
            <div class="w3-row">
                <div class="w3-panel w3-col l3"><a href="pay" class="w3-button w3-blue w3-padding-large w3-col">Pay</a></div>
                <div class="w3-panel w3-col l3"><a href="" class="w3-button w3-blue w3-padding-large w3-col">Reports</a></div>
                <div class="w3-panel w3-col l3"><a href="" class="w3-button w3-blue w3-padding-large w3-col">Orders</a></div>
                <div class="w3-panel w3-col l3"><a href="" class="w3-button w3-blue w3-padding-large w3-col">Demo</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
