{% extends "common/new_default.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">payment</i>
                </div>
                <p class="card-category">
                    Orders
                </p>
                <!--<h3 class="card-title">
                    this
                </h3>-->
                <a href="/manager/pay" class="btn btn-warning">Do Payment</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="text-warning">All Time</div>
                        <span class="badge badge-success">Paid : {{orders_summary.all_time.paid}}</span>
                        <span class="badge badge-info">Completed : {{orders_summary.all_time.completed}}</span>
                        <span class="badge badge-light">Total : {{orders_summary.all_time.total}}</span>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-warning">This Month</div>
                        <span class="badge badge-success">Paid : {{orders_summary.monthly.paid}}</span>
                        <span class="badge badge-info">Completed : {{orders_summary.monthly.completed}}</span>
                        <span class="badge badge-light">Total : {{orders_summary.monthly.total}}</span>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-warning">Today</div>
                        <span class="badge badge-success">Paid : {{orders_summary.today.paid}}</span>
                        <span class="badge badge-info">Completed : {{orders_summary.today.completed}}</span>
                        <span class="badge badge-light">Total : {{orders_summary.today.total}}</span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hrs
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">perm_contact_calender</i>
                </div>
                <p class="card-category">
                    Users
                </p>
                <h3 class="card-title">
                    _/_ <small>Users</small>
                </h3>
                <a class="btn btn-success check-new-user">Check for new Users</a>
                {% if user.role == "admin" %}
                <a class="btn btn-success sync-user">Sync Existing Users</a>
                {% endif %}
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> All Time
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
                <!-- <div class="ct-chart" id="dailyOrdersChart"></div>-->
                <canvas id="dailyOrdersChart" width="400" height="80"></canvas>
            </div>
            <div class="card-body">
                Daily Chart - Staff Wise
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header">
                <!-- <div class="ct-chart" id="dailyOrdersChart"></div>-->
                <canvas id="dailyOrdersPaymentChart" width="400" height="80"></canvas>
            </div>
            <div class="card-body">
                Monthly Chart - Payment Wise
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header card-header-danger">
                <!--<div class="ct-chart" id="monthlyOrdersChart"></div>-->
                <div class="chart-container" style="position: relative;">
                    <canvas id="monthlyOrdersChart" width="400" height="80"></canvas>
                </div>
            </div>
            <div class="card-body">
                Montly Chart
            </div>
        </div>
    </div>
</div>
<div id="domain_select_modal" class="modal fade domain-select-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Sync Users For</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="s_u_d_i">Domain</label>
                    <select id="s_u_d_i" class="form-control">
                      {% if not domains %}
                      <option value="">No domain to sync</option>
                      {% else %}
                      {% for domain in domains %}
                        <option value="{{domain.url}}">{{domain.name}}</option>
                      {% endfor %}
                      {% endif %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <button type="reset" class="btn btn-danger modal-cancel" data-dismiss="modal">Cancel</button>
                    <button type="submit" {% if not domains %} disabled {% endif %}class="btn btn-success" id="s_u_d_i_btn">Sync</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dual_progress_modal" class="modal fade progress-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="w3-col l12 m12">
          <h3>Please wait</h3>
        </div>
      </div>
      <div class="modal-body">
          <div class="text-right">
            OverAll Progress
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" id="progress_bar_1" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">

              </div>
            </div>
            Unit Progress
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" id="progress_bar_2" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">

              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
{% block styles %}
<style>
.manager-url{
    background-color:#2196F3;
}
</style>
{% endblock %}
{% block scripts%}
<script src="/static/js/plugins/Chart.min.js"></script>
<script>var websoket_url='{{ websocket }}';</script>
<script>
    var yearlyChartData=JSON.parse('{{ res_data|safe }}');
    var monthlyChartData = JSON.parse('{{ dailyChartData|safe }}');
    var dailyPaymentWiseData = JSON.parse('{{ dailyPaymentWiseData|safe }}');
    console.log(dailyPaymentWiseData);
</script>
<script src="/static/js/site/dashboard.js{{version}}"></script>
{% endblock %}
