{% extends "common/default_nodecorations.html" %}
{% block content %}
<div id="formContent">
  <!-- Tabs Titles -->

  <!-- Icon -->
  <div class="login-title first">
    {# <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> #}
    Please Login
  </div>

  <!-- Login Form -->
  <form action="" method="post">
      {% csrf_token %}
      {{ form.name }}
      {{ form.password }}
    <input type="submit" class=" fourth" value="Log In">
  </form>

  <!-- Remind Passowrd -->
  <div id="formFooter">
      <p>For C3SWebcom</p>
    {# <a class="underlineHover" href="#">Forgot Password?</a> #}
  </div>

</div>
<div class="toast" id="toast">
    <div id="img" class="icon"><i class="material-icons">notification_important</i></div>
    <div id="toast_msg" class="toast-msg">A notification message..</div>
</div>
{% endblock %}
{% block styles %}
<style>
body{
    background:url(/static/img/login-bg.png);
}
.manager-url{
    background-color:#2196F3;
}
</style>
{% endblock %}
{% block scripts%}
{% endblock %}
