{% extends "common/default_nodecorations.html" %}
{% block content %}
<div class="w3-main">
    <!-- Header -->
    <div class="login-box">
        <div class="w3-container w3-margin-top">
            <form method="POST" class="w3-container w3-card-4">
                {% csrf_token %}
                <div class="w3-panel">
                    <h5><b><i class="fa fa-users"></i> Login </b></h5>
                </div>
                <div class="w3-panel w3-red" id="error">
                   <p>{{error}}</p>
                </div>
                <p>
                    <label for="">Username</label>
                    <input type="text" class="w3-input" name="username" id="username" />
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" class="w3-input" name="password" id="password" />
                </p>
                <p>
                    <input type="submit" value="login" class="w3-button w3-blue w3-hover-teal w3-col m12 w3-margin-bottom" />
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts%}
<script src="/static/scripts/login.js"></script>
{% endblock %}