{% extends "common/new_default.html" %}
{% block content %}
<div class="row">
    {% for domain in domains %}
    <div class="col-md-4">
        <div class="card card-stats" data-domain_id="{{domain.id}}">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">http</i>
                </div>
                <p class="card-category">
                    <i class="material-icons">http</i>: {{domain.url}}
                </p>
                <h3 class="card-title">
                    {{domain.name}}
                </h3>
                <a class="btn btn-primary">More...</a>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <button class="btn btn-danger domain-delete" data-id="{{domain.id}}" title="Delete"><i class="material-icons">delete</i></button>
                    <button class="btn btn-success domain-edit" data-id="{{domain.id}}" title="Edit"><i class="material-icons">assignment</i></button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col-md-4">
        <div class="card card-blank" id="d_a_btn">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">fiber_new</i>
                </div>
            </div>
            <div class="card-body">
                <div>+</div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="domain_add_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Add Domain</h3>
            </div>
            <div class="modal-body">

                <div class="form-group mx-3">
                    <label class="w3-margin-top">Name:</label>
                    <input class="form-control" id="n_d_n" name="n_d_n" placeholder="Enter name" /></div>
                <div class="form-group mx-3">
                    <label class="w3-margin-top">Url</label>
                    <input class="form-control" id="n_d_u" name="n_d_u" placeholder="xxx.xxx.xxx.xxx or domain.domain.domain" /></div>
                <div class="form-group mx-3">
                    <label class="w3-margin-top">Username:</label>
                    <input class="form-control" id="n_d_un" name="n_d_un" placeholder="Enter name" /></div>
                <div class="form-group mx-3">
                    <label class="w3-margin-top">Password:</label>
                    <input class="form-control" id="n_d_up" name="n_d_up" placeholder="Enter name" /></div>
                <div class="form-group mx-3">
                    <label class="w3-margin-top">Status:</label>
                    <select class="form-control" name="n_d_st" id="n_d_st">
                      <option value="up">Up</option>
                      <option value="down">Down</option>
                    </select></div>
                <div class="alert alert-danger" id="d_a_e">
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close"><i class="material-icons">close</i></button>
                    <span></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <button type="reset" class="btn btn-danger modal-cancel" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="d_a_s_btn">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="domain_edit_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Edit Domain</h3>
            </div>
            <div class="modal-body">
                <div class="form-group mx-3">
                    <label class="w3-margin-top">Name:</label><input class="form-control" id="e_d_n" name="e_d_n" placeholder="Enter name" />
                </div>
                <div class="form-group mx-3">
                    <label class="w3-margin-top">Url</label><input class="form-control" id="e_d_u" name="e_d_u" placeholder="xxx.xxx.xxx.xxx or domain.domain.domain" />
                </div>
                <div class="form-group mx-3">
                    <label class="w3-margin-top">Username:</label>
                    <input class="form-control" id="e_d_un" name="e_d_un" placeholder="Enter name" />
                </div>
                <div class="form-group mx-3">
                    <label class="w3-margin-top">Password:</label>
                    <input type="password" class="form-control" id="e_d_up" name="e_d_up" placeholder="Enter name" /><button class="input-helper" data-for="visibility"><i class="fa fa-eye"></i></button>
                </div>
                <div class="form-group mx-3">
                    <label class="w3-margin-top">Status:</label>
                    <select class="form-control" name="e_d_st" id="e_d_st">
                      <option value="up">Up</option>
                      <option value="down">Down</option>
                    </select>
                </div>
                <div class="alert alert-danger" id="d_e_e">
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close"><i class="material-icons">close</i></button>
                    <span></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <button type="reset" class="btn btn-danger modal-cancel" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="d_e_s_btn">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block styles %}
<style>
    .card-stats>.card-header>.card-category>.material-icons{
        font-size:26px;
        line-height:12px;
        height:38px;
    }
    .card.card-blank{
        height:226px;
    }
    .card-blank .card-body{
        text-align:center;
        margin-top:38px;
    }
    .card-blank .card-body>div{
        font-size: 70px;
        color: #d8d8d8;
        cursor:pointer;
    }
</style>
{% endblock %}
{% block scripts%}
<script>var websoket_url='{{ websocket }}';</script>
<script src="/static/js/site/domain.js"></script>
{% endblock %}
