<div id="error_modal" class="modal fade error-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="w3-col l12 m12">
          <h3>Error </h3>
        </div>
      </div>
      <div class="modal-body">
          <div class="text-red error-message" id="error_message">
              
          </div>
      </div>
      <div class="modal-footer">
          <div class="text-right">
            <button type="reset"class="btn btn-danger modal-cancel" data-dismiss="modal">Ok</button>
          </div>
      </div>
    </div>
  </div>
</div>
<div id="result_modal" class="modal fade result-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="w3-col l12 m12">
          <h3>Success</h3>
        </div>
      </div>
      <div class="modal-body">
          <div class="text-red result-message" id="result_response">
              This is demo error message
          </div>
      </div>
      <div class="modal-footer">
          <div class="text-right">
            <button type="reset"class="btn btn-success modal-cancel" data-dismiss="modal">Ok</button>
          </div>
      </div>

    </div>
  </div>
</div>
<div id="progress_modal" class="modal fade progress-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="w3-col l12 m12">
          <h3>Please wait</h3>
        </div>
      </div>
      <div class="modal-body">
          <div class="text-right">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" id="progress_bar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">

              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>
<div id="confirm_modal" class="modal fade confirm-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="w3-col l12 m12">
          <h3 class="heading">Are you sure?</h3>
        </div>
      </div>
      <div class="modal-body">
          <div class="text-right">
            <button type="reset"class="btn btn-danger modal-cancel" data-dismiss="modal">Cancel</button>
            <button type="reset"class="btn btn-success modal-ok">Ok</button>
          </div>
      </div>

    </div>
  </div>
</div>
<div class="progressor">
    <div class="progressor-container">
        <div class="progress">
            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
              Loading...
            </div>
        </div>
    </div>
</div>
<div class="toast" id="toast">
    <div id="img" class="icon"><i class="material-icons">notification_important</i></div>
    <div id="toast_msg" class="toast-msg">A notification message..</div>
</div>
    
    
    
    

