{% extends "common/new_default.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="title">
                        {% if not form %}
                            Invalid/No User
                        {% else %}
                        {{adminuser.name}}
                        {% if post_status %}
                            {{post_status}}
                        {% endif %}
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    {% if not form %}
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 class="text-danger">This user doesnot exists.</h3><br />
                            <a href="/localities" class="btn btn-info">Back</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="/localities" class="btn btn-info">Back</a>
                        </div>
                    </div>
                    <form method="post" autocomplete="off">
                        {{ form.non_field_errors }}
                        <div class="row">
                            {{ form.id}}
                            {% csrf_token %}
                            <div class="col-md-12">
                                {{ form.name.label_tag}}
                                {{ form.name}}
                                {{ form.name.errors }}
                            </div>
                            <div class="col-md-12">
                                {{ form.code.label_tag}}
                                {{ form.code}}
                                {{ form.code.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right mt-5 mb-3">
            				{% if user.role == "admin" %}
                                <button type="submit" class="btn btn-danger col-md-3 py-3">Update</button>
                            {% endif %}
            			    </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
$(document).on("change","#id_password_string",function(){
    $("#id_password_changed").val("1");
});
</script>
{% endblock %}
