{% extends "common/new_default.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12 text-right">
        <div class="btn-group btn-group-lg">
            <a href="add" class="btn btn-primary" title="Add New Locality">
                Add New
            </a>
            <a href="assign-users" class="btn btn-primary" title="Assign Users">
                Assign Users
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Localities</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr class="text-center">
                                <th>Name</th>
                                <th>Code</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if localities %}
                            {% for locality in localities %}
                                <tr class="text-center">
                                    <td>{{locality.name}}</td>
                                    <td>{{locality.code}}</td>
                                    <td>
                                        {% if locality.id == 1 %}
                                        <button class="btn btn-default" disabled title="Edit Locality"><i class="material-icons">create</i></button>
                                        {% else %}
                                        <a href="edit/{{locality.id}}" class="btn btn-primary" title="Edit Locality"><i class="material-icons">create</i></a>
                                        {% endif %}
                                    </td>
                                    <td data-open="close">
                                        <button {% if locality.id == 1 %} class="btn btn-default btn-confirm" disabled {% else %}class="btn btn-danger btn-confirm"{% endif %} title="Delete Locality"><i class="material-icons">delete</i></button>
                                        <button class="btn btn-danger btn-cancel"><i class="material-icons">clear</i></button>
                                        <button class="btn btn-success btn-ok" id="delete_locality" data-locality="{{locality.id}}"><i class="material-icons">done</i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            <tr class="text-center">
                                <td colspan="4">No data found.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/site/localities.js{{version}}"></script>
{% endblock  %}
