{% extends "common/default.html" %}
{% block content %}
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> Dashboard</b></h5>
    </header>
    <div class="w3-container">
        <div class="quick-links w3-panel w3-light-gray w3-card">
             <table class="w3-table-all w3-margin-top">
                 <thead>
                     <tr class="w3-blue">
                         <th>Username</th><th>Address</th><th>By</th><th>plan</th><th style="width:75px">Value</th><th style="width:75px">Amount</th><th>Initiated At</th><th>Completed At</th><th style="width:180px">Status</th>
                     </tr>
                 </thead>
                 <tbody>
                 {% if order_list %}
                     {% for order in order_list %}
                         {% if order.status == '1' %}
                            <tr class="w3-green">
                         {% else %}
                            <tr class="w3-red">
                         {% endif %}
                             <td>{{ order.user.name }}</td>
                             <td>{{ order.user.address }}</td>
                             <td>{{ order.initiator_id }}</td>
                             <td>{{ order.plan }}</td>
                             <td><i class="fa fa-inr"></i> {{ order.value }}</td>
                             <td><i class="fa fa-inr"></i> {{ order.amount }}</td>
                             <td>{{ order.initiated_at }}</td>
                             <td>{{ order.completed_at }}</td>
                             <td class="order-status-cell" id="td_{{order.id}}">
                               <div class="w3-left order-status">
                                 {% if order.status == '1' %} Completed {% else %} Pending {% endif %}
                               </div>
                               <div class="w3-left order-status-update">
                                 <select class="w3-input order-status-select" data-id="{{order.id}}">
                                   <option value="0" {% if order.status == '0' %} selected {% endif %}>Pending</option>
                                   <option value="1" {% if order.status == '1' %} selected {% endif %}>Completed</option>
                                 </select>
                               </div>
                               {% if order.status == '0' or user.role == "admin" %}
                               <button class="w3-button w3-blue w3-right order-update-btn"><i class="fa fa-wrench"></i></button>
                               <button class="w3-button w3-blue w3-right order-submit-btn"><i class="fa fa-arrow-left"></i></button>
                               {% endif %}
                             </td>
                         </tr>
                     {% endfor %}
                 {% else %}
                     <tr><td colspan="9">No data to show</td></tr>
                 {% endif %}
                 </tbody>
             </table>
             <div class="w3-center w3-padding-16 pagination" >
              <div class="w3-bar w3-medium w3-border">
                {% if order_list.has_previous %}
                    <a href="?page=1" class="w3-button">&laquo; first</a>
                    <a href="?page={{ order_list.previous_page_number }}" class="w3-button">previous</a>
                {% else %}
                  <a href="javascript:void(0)" class="w3-button w3-disabled">&laquo; first</a>
                  <a href="javascript:void(0)" class="w3-button w3-disabled">previous</a>
                {% endif %}
                <a href="javascript:void(0" class="w3-button w3-blue">Page {{ order_list.number }} of {{ order_list.paginator.num_pages }}.</a>
                {% if order_list.has_next %}
                    <a href="?page={{ order_list.next_page_number }}" class="w3-button">next</a>
                    <a href="?page={{ order_list.paginator.num_pages }}" class="w3-button">last &raquo;</a>
                {% else %}
                    <a href="javascript:void(0)" class="w3-button w3-disabled">next</a>
                    <a href="javascript:void(0)" class="w3-button w3-disabled">last &raquo;</a>
                {% endif %}
              </div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div id="order_update_modal" class="w3-modal payment-modal">
  <div class="w3-modal-content w3-animate-bottom">
    <div class="w3-container">
      <div class="w3-container w3-row">
        <div class="w3-col l12 m12">
          <h3>Do you really want update?</h3>
          <span class="w3-button w3-display-topright modal-close">&times;</span>
      </div>
      </div>
      <div class="w3-container">
        <div class="w3-row w3-panel">
          <div class="w3-bar">
            <button type="submit" class="w3-button padding-large w3-blue w3-right" id="order_update_confirmation">Yes</button>
            <button type="reset"class="w3-button padding-large w3-red w3-right w3-margin-right modal-cancel">No</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/styles/orders/main.css">
{% endblock %}
{% block scripts%}
<script>var websoket_url='{{ websocket }}';</script>
<script src="/static/scripts/order.js"></script>
{% endblock %}
