{% extends "common/new_default.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-header-primary">
                    <h4 class="card-title">Orders</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>ID</th><th>Username</th><th style="width:200px">Address</th><th>By</th><th>plan</th><th style="width:75px">Value</th><th style="width:75px">Amount</th><th>Initiated At</th><th>Completed At</th><th>Payment</th><th style="width:180px" class="text-center">Status (Action)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if order_list %}
                             {% for order in order_list %}
                                 {% if order.status == '1' and order.paid == '1' %}
                                    <tr class="text-success" id="tr_{{order.id}}">
                                 {% else %}
                                    <tr class="text-danger" id="tr_{{order.id}}">
                                 {% endif %}
                                    <td>{{order.id}}</td>
                                     <td>{{ order.user.name }}</td>
                                     <td>{{ order.user.address }}</td>
                                     <td>{% if order.initiator_type == "admin" %}{{ order.initiator.name }} {% else %} self {% endif %}</td>
                                     <td>{{ order.plan }}</td>
                                     <td><i class="fa fa-inr"></i> {{ order.value }}</td>
                                     <td><i class="fa fa-inr"></i> {{ order.amount }}</td>
                                     <td>{{ order.initiated_at }}</td>
                                     <td>{{ order.completed_at }}</td>
                                     <td class="payment-status-cell" id="payment_td_{{order.id}}">
                                       {% if order.paid == "0" or user.role == "admin" %}
                                       <div class="status payment-status">
                                         {% if order.paid == '1' %} Completed {% else %} Pending {% endif %}
                                       </div>
                                       <div class="text-center payment-status-update">
                                         <select name="paid" class="form-control text-center payment-status-select" id="payment_{{order.id}}" data-id="{{order.id}}">
                                           <option value="0" {% if order.paid == '0' %} selected {% endif %}>Pending</option>
                                           <option value="1" {% if order.paid == '1' %} selected {% endif %}>Completed</option>
                                         </select>
                                       </div>
                                       {% else %}
                                       <div>
                                         {% if order.paid == '1' %} Completed {% else %} Pending {% endif %}
                                       </div>
                                       {% endif %}
                                     </td>
                                     <td class="order-status-cell" id="status_td_{{order.id}}">
                                       <div class="status order-status">
                                         {% if order.status == '1' %} Completed {% else %} Pending {% endif %}
                                       </div>
                                       {% if order.status == "0" or user.role == "admin" %}
                                       <div class="text-center order-status-update">
                                         <select name="status" class="form-control text-center order-status-select" id="status_{{order.id}}" data-id="{{order.id}}">
                                           <option value="0" {% if order.status == '0' %} selected {% endif %}>Pending</option>
                                           <option value="1" {% if order.status == '1' %} selected {% endif %}>Completed</option>
                                         </select>
                                       </div>
                                       {% endif %}
                                       {% if order.status == '0' or order.paid == '0' or user.role == "admin" %}
                                       <div class="order-actions">
                                           <button class="btn btn-primary order-update-btn"><i class="fa fa-wrench"></i></button>
                                           <button class="btn btn-primary order-submit-btn"><i class="fa fa-arrow-left"></i></button>
                                        </div>
                                       {% endif %}
                                     </td>
                                 </tr>
                             {% endfor %}
                         {% else %}
                             <tr><td colspan="10" class="text-center">No data to show</td></tr>
                         {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="text-center" >
          <div class="w3-bar w3-medium w3-border">
            {% if order_list.has_previous %}
                <a href="?page=1" class="btn btn-success">&laquo; first</a>
                <a href="?page={{ order_list.previous_page_number }}" class="btn btn-success">previous</a>
            {% else %}
              <a href="javascript:void(0)" class="btn btn-disabled">&laquo; first</a>
              <a href="javascript:void(0)" class="btn btn-disabled">previous</a>
            {% endif %}
            <a href="javascript:void(0)" class="btn btn-primary">Page {{ order_list.number }} of {{ order_list.paginator.num_pages }}.</a>
            {% if order_list.has_next %}
                <a href="?page={{ order_list.next_page_number }}" class="btn btn-success">next</a>
                <a href="?page={{ order_list.paginator.num_pages }}" class="btn btn-success">last &raquo;</a>
            {% else %}
                <a href="javascript:void(0)" class="btn btn-disabled">next</a>
                <a href="javascript:void(0)" class="btn btn-disabled">last &raquo;</a>
            {% endif %}
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/styles/orders/main.css">
<style>
    .order-status-cell{
        width:220px;
        text-align:center;
    }
    .order-status-cell .order-status,
    .order-status-cell .order-status-update{
        float:left;
    }
    .order-status-cell .order-actions{
        float:right;
    }
    .order-status-cell .order-status-update .order-status-select{
        text-align:center;
    }
</style>
{% endblock %}
{% block scripts%}
<script>var websoket_url='{{ websocket }}';</script>
<script src="/static/js/site/order.js"></script>
{% endblock %}
