{% extends "common/new_default.html" %}
{% block content %}
{% load order_extras %}
<div class="row">
    <div class="col-md-12">
        <div class="card search-filters">
            <div class="card-header" id="filter_header">
                <h4 class="card-title">
		    Filters
		    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#order_filters" aria-expanded="true" aria-controls="collapseOne">
		    <i class="fa fa-chevron-down"></i>
		    </button>
		</h4>
            </div>
	    <div id="order_filters" class="collapse" aria-labelledby="filter_header" data-parent="#accordionExample">
		<div class="card-body">
		    <form method="get" action="" autocomplete="off">
			{{ form.non_field_errors }}
			<div class="row">
			    <div class="col-md-4">
				{{ form.name.errors }}
				{{ form.name.label_tag}}
				{{ form.name}}
			    </div>
			    <div class="col-md-4">
				{{ form.address.errors }}
				{{ form.address.label_tag}}
				{{ form.address}}
			    </div>
			    <div class="col-md-4">
				{{ form.start_date.errors }}
				{{ form.start_date.label_tag}}
				{{ form.start_date}}
			    </div>
			    <div class="col-md-4">
				{{ form.end_date.errors }}
				{{ form.end_date.label_tag}}
				{{ form.end_date}}
			    </div>
			    <div class="col-md-4">
				{{ form.payment_date.errors }}
				{{ form.payment_date.label_tag}}
				{{ form.payment_date}}
			    </div>
			    {% if user.role == "admin" %}
			    <div class="col-md-4">
				{{ form.order_by.errors }}
				{{ form.order_by.label_tag}}
				{{ form.order_by}}
			    </div>
			    {% else %}
			    <div class="col-md-4">
			    
			    </div>
			    {% endif %}
			    <div class="col-md-4">
				{{ form.is_paid.errors }}
				{{ form.is_paid.label_tag}}
				{{ form.is_paid}}
			    </div>
			    <div class="col-md-4">
				{{ form.status.errors }}
				{{ form.status.label_tag}}
				{{ form.status}}
			    </div>
			    <div class="col-md-4">
				<button type="submit" class="btn btn-primary btn-lg col-md-12">Go</button>
			    </div>
			</div>
		    </form>
		</div>
	    </div>
        </div>
    </div>
    <div class="col-md-12">
	<div class="card">
	    <div class="card-header">
		<div class="card-header-primary">
		    <h4 class="card-title">Orders</h4>
		</div>
	    </div>
	    <div class="card-body">
		<div class="table-responsive">
		    <table class="table">
			<thead class="text-primary">
			    <tr>
				<th>ID</th><th>Username</th><th style="width:200px">Address</th><th>By</th><th>Initiated At</th><th>Recharged At</th><th>Payment</th><th style="width:180px">Status</th><th>Action</th>
			    </tr>
			</thead>
			<tbody>
			    {% if order_list %}
			     {% for order in order_list %}
				 {% if order.status == '1' and order.paid == '1' %}
				    <tr class="text-success" id="tr_{{order.id}}">
				 {% else %}
				    <tr class="text-danger" id="tr_{{order.id}}">
				 {% endif %}
				    <td>{{order.id}}</td>
				     <td>{{ order.user.name }}</td>
				     <td data-toggle="tooltip" title="{{ order.user.address }}"><div class="text-scroll">{{ order.user.address }}</div></td>
				     <td>{% if order.initiator_type == "admin" %}{{ order.initiator.name }} {% else %} self {% endif %}</td>
				     <td>{{ order.initiated_at|date:'d/m/Y' }}</td>
				     <td>{{ order.completed_at|date:'d/m/Y'  }}</td>
				     <td class="payment-status-cell" id="payment_td_{{order.id}}">
				       {% if order.paid == "0" or user.role == "admin" %}
				       <div class="status payment-status">
					 {% if order.paid == '1' %} Completed {% else %} Pending {% endif %}
				       </div>
				       <div class="text-center payment-status-update">
					 <select name="paid" class="form-control text-center payment-status-select" id="payment_{{order.id}}" data-id="{{order.id}}">
					   <option value="0" {% if order.paid == '0' %} selected {% endif %}>Pending</option>
					   <option value="1" {% if order.paid == '1' %} selected {% endif %}>Completed</option>
					 </select>
				       </div>
				       {% else %}
				       <div>
					 {% if order.paid == '1' %} Completed {% else %} Pending {% endif %}
				       </div>
				       {% endif %}
				     </td>
				     <td class="order-status-cell" id="status_td_{{order.id}}">
				       <div class="status order-status">
					 {% if order.status == '1' %} Completed {% else %} Pending {% endif %}
				       </div>
				       {% if order.status == "0" or user.role == "admin" %}
				       <div class="text-center order-status-update">
					 <select name="status" class="form-control text-center order-status-select" id="status_{{order.id}}" data-id="{{order.id}}">
					   <option value="0" {% if order.status == '0' %} selected {% endif %}>Pending</option>
					   <option value="1" {% if order.status == '1' %} selected {% endif %}>Completed</option>
					 </select>
				       </div>
				       {% endif %}
				     </td>
				     <td class="order-actions">
					{% if order.status == '0' or order.paid == '0' or user.role == "admin" %}
					<button class="btn btn-primary order-update-btn"><i class="fa fa-wrench"></i></button>
					<button class="btn btn-danger order-submit-btn"><i class="fa fa-repeat"></i></button>
					{% else %}
					<button class="btn btn-default" disabled><i class="fa fa-wrench"></i></button>
					{% endif %}
				     </div>
				 </tr>
			     {% endfor %}
			 {% else %}
			     <tr><td colspan="10" class="text-center">No data to show</td></tr>
			 {% endif %}
			</tbody>
		    </table>
		</div>
	    </div>
	</div>
    </div>
    <div class="col-md-12">
	<div class="text-center" >
	<a name="pagination"></a>
	  <div class="w3-bar w3-medium w3-border">
	    {% if order_list.has_previous %}
		<a href="?{% url_replace request 'page' 1|to_str %}" class="btn btn-success">&laquo; first</a>
		<a href="?{% url_replace request 'page' order_list.previous_page_number|to_str %}" class="btn btn-success">previous</a>
	    {% else %}
	      <a href="javascript:void(0)" class="btn btn-disabled">&laquo; first</a>
	      <a href="javascript:void(0)" class="btn btn-disabled">previous</a>
	    {% endif %}
	    <a href="javascript:void(0)" class="btn btn-primary">Page {{ order_list.number }} of {{ order_list.paginator.num_pages }}.</a>
	    {% if order_list.has_next %}
		<a href="?{% url_replace request 'page' order_list.next_page_number|to_str %}" class="btn btn-success">next</a>
		<a href="?{% url_replace request 'page' order_list.num_pages|to_str %}" class="btn btn-success">last &raquo;</a>
	    {% else %}
		<a href="javascript:void(0)" class="btn btn-disabled">next</a>
		<a href="javascript:void(0)" class="btn btn-disabled">last &raquo;</a>
	    {% endif %}
	  </div>
	</div>
    </div>
</div>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/styles/jquery-ui.css">
<link rel="stylesheet" href="/static/styles/orders/main.css">
{% endblock %}
{% block scripts %}
<script src="/static/js/core/jquery-ui.js"></script>
<script>
    $("#id_start_date, #id_end_date, #id_payment_date").datepicker({
	    inline: true,
	    dateFormat: "yy-mm-dd"
    });
</script>
<script>var websoket_url='{{ websocket }}';</script>
<script src="/static/js/site/order.js"></script>
{% endblock %}

