{% extends "common/new_default.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card search-filters">
            <div class="card-header">
                <h4 class="card-title">Filters</h4>
            </div>
            <div class="card-body">
		<form method="post">
		    {% csrf_token %}
		    {{ form.non_field_errors }}
		    <div class="row">
			<div class="col-md-3">
			    {{ form.name.errors }}
			    {{ form.name.label_tag}}
			    {{ form.name}}
			</div>
			<div class="col-md-3">
			    {{ form.address.errors }}
			    {{ form.address.label_tag}}
			    {{ form.address}}
			</div>
			<div class="col-md-3">
			    {{ form.start_date.errors }}
			    {{ form.start_date.label_tag}}
			    {{ form.start_date}}
			</div>
			<div class="col-md-3">
			    {{ form.end_date.errors }}
			    {{ form.end_date.label_tag}}
			    {{ form.end_date}}
			</div>
			<div class="col-md-3">
			    {{ form.payment_date.errors }}
			    {{ form.payment_date.label_tag}}
			    {{ form.payment_date}}
			</div>
			<div class="col-md-3">
			    {{ form.order_by.errors }}
			    {{ form.order_by.label_tag}}
			    {{ form.order_by}}
			</div>
			<div class="col-md-3">
			    {{ form.is_paid.errors }}
			    {{ form.is_paid.label_tag}}
			    {{ form.is_paid}}
			</div>
			<div class="col-md-3">
			    {{ form.status.errors }}
			    {{ form.status.label_tag}}
			    {{ form.status}}
			</div>
		    </div>
		</form>
	    
                <!--<div class="row">
                    <div class="col-md-3">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" value="" placeholder="Name" id="name_filter" />
                    </div>
                    <div class="col-md-3">
                        <label>Address</label>
                        <input type="text" class="form-control" name="address" value="" placeholder="Address" id="address_filter" />
                    </div>
                    <div class="col-md-3">
                        <label>Name</label>
                        <input type="text" class="form-control" name="address" value="" placeholder="Address" id="address_filter" />
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-3">
                        <label>Payment Date: Start</label>
                        <input type="text" class="form-control" name="payment_date_start" value="" placeholder="YYYY-MM-DD" id="pay_date_start_filter" />
                    </div>
                    <div class="col-md-3">
                        <label>Payment Date: End</label>
                        <input type="text" class="form-control" name="payment_date_end" value="" placeholder="YYYY-MM-DD" id="pay_date_end_filter" />
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-3">
                        <label>Completed By</label>
                        <select class="form-control" name="completed_by" id="completed_by_filter">
                            <option value="admin">admin</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Plan</label>
                        <select class="form-control" name="plan" id="plan_filter">
                            <option value="admin">Plan1</option>
                            <option value="admin">Plan3</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Payment</label>
                        <div class="row">
                        <label class="radio-inline"><input class="form-control" type="radio" name="payment" checked><p>Completed</p></label>
                            <label class="radio-inline"><input class="form-control" type="radio" name="payment"><p>Pending</p></label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Status</label>
                        <div class="row">
                            <label class="radio-inline"><input class="form-control" type="radio" name="status" checked><p>Completed</p></label>
                            <label class="radio-inline"><input class="form-control" type="radio" name="status"><p>Pending</p></label>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/styles/jquery-ui.css">
<link rel="stylesheet" href="/static/styles/orders/search.css">
{% endblock %}
{% block scripts %}
<script src="/static/js/core/jquery-ui.js"></script>
<script>
    $("#id_start_date, #id_end_date, #id_payment_date").datepicker({
	    inline: true,
	    dateFormat: "yy-mm-dd"
    });
</script>
{% endblock %}

